.column {
    width: 100%;
    z-index: 1;
}

.z1{
    z-index: 1;
}

.app_title div{
    float: left;
    color: #5379fa;
    font-family: 'Exo', sans-serif;
    font-size: 80px;
    font-weight: 200;
}

.app_title div span{
    color: #fff !important;
}

.body{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(/images/login_back-ground.jpg);
    background-size: cover;
    -webkit-filter: blur(5px);
    z-index: 0;
}

.grad{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    z-index: 0;
    opacity: 0.7;
}

.opa1 {

}